.App {
  background-color: rgb(55, 26, 243);
  font-family: sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  color: rgb(48, 60, 238);
  background-color: #115233;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 100%;
  width: 100%;
}

.flex {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

a img {
  width: 50px;
  height: 50px;
}

.spin {
  display: none;
}

.d-flex {
  /* justify-content: space-between; */
  float: right;
  /* background: rgba(19, 35, 47, 0.9); */
  /* padding: 40px; */
  /* max-width: 600px; */

  margin: auto;
  /* border-radius: 4px; */
  /* box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); */
  margin-right: 20px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
}

#movies {
  background-color: rgb(240, 245, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  height: 750px;
  margin: 8px;
  /* height: 300px; */
}

#Nav {
  height: 10%;
  display: flex;
}

#main {
  background-color: rgb(240, 245, 243);
  width: 100%;
  height: 80%;
}

#search-box {
  border: 1px solid green;
}

#back-img {
  position: fixed;
  left: 0px;
  top: 100px;
}

#back-img:hover {
  cursor: pointer;
}

#percent {
  width: 70px;
  height: 70px;
  background-color: rgb(239, 245, 247);
  border-radius: 850%;
}

.container-movie {
  /* opacity: 1 !important; */
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(116, 112, 112, 0.5);
  /* background-color: rgba(9, 211, 211, 0.801); */
}

/* .container-movie > image {
  opacity: 1 !important;
} */
#movie-img {
  border-radius: 10px;
  width: 480px;
  height: 700px;
  margin: 30px 0px 30px 0px;
}

.container-details {
  /* background-color: lightblue; */
  width: 70%;
  height: 80%;
  margin: 3% 3% 5% 2%;
  text-align: left;
}

.container-rating {
  display: flex;
  width: 30%;
  height: 20%;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: #115233; */
}

.center {
  align-self: center;
}

.inner-container {
  display: flex;
  width: 50%;

  justify-content: space-between;
  /* background-color: grey; */
}

#space {
  width: 5%;
}

#youtube {
  /* background-; */
  width: 100%;
  height: 80%;
  text-align: center;
}

#search-space {
  width: 65%;
  height: 100%;
}

/* .container-movie[background-image] {
  opacity: 0.5;
} */

/* 
.container-movie::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.menu-item-wrapper.active {
  border: 1px blue solid;
}

.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.img {
  right: 1rem;
  border: s;
}

.icon {
  margin-right: 10px;
}

.section {
  background-position: center center;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.mat-icon {
  margin-right: 8px;
}


.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebar ul li a {
  display: block;
  padding: 16px 25px;
  border-bottom: 1px solid #03374e;
  color: #0e94d4;
}

.sidebar ul li a .icon {
  font-size: 18px;
  color: white;
  vertical-align: middle;
}

.sidebar ul li a .text {
  margin-left: 19px;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
}

.sidebar ul li a:hover {
  background: #0e94d4;
  color: #fff;
}

.hover_collapse .sidebar{
  width: 70px;
 }
 
 .hover_collapse .sidebar ul li a .text{
  display: none;
 }
 aside {
  color: #fff;
  width: 250px;
  padding-left: 20px;
  height: 100vh;
  background-image: linear-gradient(30deg , #0048bd, #44a7fd);
  border-top-right-radius: 80px;
}

aside a {
  font-size: 12px;
  color: #fff;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

aside a:hover {
  color: #3f5efb;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0;
  padding: 40px 0;
}

body {
  font-family: 'Roboto';
  width: 100%;
  height: 100vh;
  margin: 0;
}

.social {
  height: 0;  
}

.social i:before {
  width: 14px;
  height: 14px;
  font-size: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}
.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.social i::after {
  width: 14px;
  height: 14px;
  font-size: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
}
